<% content_for(:page, 'new-paste') %>

<div class="row">
  <div class="col pr-1">
    <h1 class="float-left">New Paste</h1>
  </div>
  <div class="col pl-1 col-auto align-self-end pb-2">
    <a href="https://github.com/vinc/paste.vinc.cc">README</a>
  </div>
</div>

<%= render 'form', paste: @paste %>
