<div class="row">
  <div class="col">
    <h1 class="float-left">New Paste</h1>
  </div>
  <div class="col align-self-end text-right pb-2">
    <a href="https://github.com/vinc/paste.vinc.cc">README</a>
  </div>
</div>

<%= render 'form', paste: @paste %>
